/* all app scss styles here */

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialising;
  font-family: 'Open Sans', sans-serif;
}

#main-section {
  @include grid-column(
    $columns: 10,
    //$center: true,
    $collapse: true,
    $last-column: true
  );
  height: 100%;
  overflow: auto;
}

nav {
  background: #272328;
  height: 100%;
  position: relative;
  overflow-y: auto;

  &.open {
    @include grid-column(2);
    min-width: 212px;

    #menu-action {
      @include grid-column(
        $columns: 2,
        $last-column: true
      );
    }
  }

  &.closed {
    @include grid-column(0.5);

    #menu-content {
      display: none;


    }

    #menu-action {
      @include grid-column(
        $columns: 12,
        $collapse: true
      );
    }
  }
}

#menu-content {
  @include grid-column(
    $columns: 10,
    $collapse: true
  );

  ul {
    list-style: none;
    color: #fff;
    margin-top: 45px;
    text-transform: uppercase;

      li {
        margin: 25px 0;

        a {

            i {
              margin: 0 18px 0 0;
            }

          color: #fff;
          font-weight: 300;
        }
      }
  }

  .social-icons {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    a {
      color: #363636;
      margin: 0 8px;
    }
  }
}


#menu-action {
  height: 100%;
  top: 50%;
  position: relative;
  text-align: center;

  a {
    color: #fff;
  }
}

.logo {
  @include grid-row();
  font-family: 'Caudex', serif;
  color: #60c664;
  width: 90px;
  height: 90px;
  border: none;
  border-radius: 50%;
  padding: 30px 0 0 7px;
  font-size: 26px;
  margin: 30px 0 0 30px;
  box-shadow: -3px 0px 3px #fff;
  -webkit-animation: shadowspin 12s infinite;

  span {
    color: #c8c8c8;
  }
}

@-webkit-keyframes shadowspin {
  0% { box-shadow: -3px 0px 3px #fff; }
  50% { box-shadow: 3px 0px 4px #fff; }
  100% { box-shadow: -3px 0px 3px #fff; }
}

.nav-row {
  @include grid-row();
  height: 100%;
}

.logo-row {
  @include grid-row();
}

.logo-container {
  @include grid-column(
    $columns: 12,
    $center: true
  );
}

article {
  h1 {
    padding: 31px 0 31px 35px;
    margin: 0 0 15px 0;
  }

  p {
    padding: 0 35px 0 35px;
  }
}